@charset 'UTF-8';
@import url('reset.css');
@import url('reset2.css');
@import url('jquery.fancybox.css');
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900);
@import url(http://fonts.googleapis.com/css?family=News+Cycle);
@font-face {
font-family: cashCurrency;
src: url(../img/fonts/CashCurrency.ttf);
}
@font-face {
font-family: cheddarJack;
src: url(../img/fonts/CheddarJack.ttf);
}


html, body{

}
body {
	background-image:url(../img/cream-pixels.png);
	
}
#wrapper{
	max-width: 1300px; /*this keeps the width of the outerWrapper from expanding past 1600px*/
	margin: 0 auto;	/*this keeps the width of the outerWrapper from expanding past 1600px*/
	border:solid 1px #EAD8AD;
}
header {
width:100%;
	background-color: #E85E51;
	/*position:fixed;*/
	z-index:15;
}
#headertext {
	padding-top:1%;
}
#headertext h1{
	margin:0;
	padding:1%;
	text-align: center;
	font-size:3.5vw;
	font-size:4.4em;
	font-weight:normal;
	font-family:'cashCurrency';
	color:#FADFA0;
	color:rgb(234, 216, 173);
	
}
#headertext h1.subHeader{
	margin:0;
	padding:1%;
	text-align: center;
	font-size:2.7vw;
	font-size:3.5em;
	font-family:'cheddarJack';
	color:#603913;
	color:rgb(96,57,19);
	
}

#content{
/*width:1081px;*/
	width: 76%;
	background: rgb(234, 216, 173);
	font-size: 13px;
	font-size: 1.1vw;
	text-align: center;
	display: block;
	padding-bottom:20%;
	padding-top: 4%;
	margin:0 auto;
	overflow: hidden;
}
/*#content.specialpadding{
padding-bottom:40%;
}
#content.gallerypadding{
padding-bottom:330%;
}
#content.pricespadding{
padding-bottom:90%;
}
#content.orderpadding{
padding-bottom:40%;
}*/
#pageheader{
	margin: 0 auto 0 auto;
	text-align:center;
	font-size:24px;
	font-size:2.6vw;
	font-family: Georgia,Myriad Pro;
	color:#E85E51;
}

/*navMenu*/
#menubox{
width:100%;
/*position:fixed;*/
z-index:15;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
 display: none;
}
#cssmenu {
  font-family: georgia, sans-serif;
  background: #E85E51;
  border-top:4px solid #B57640;
  
}
#cssmenu ul{
margin-left:28%;
}
#cssmenu > ul > li {
float:left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
  
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
float: right;
}
#cssmenu > ul > li > a {
  padding: 1em;
  font-size: .8em;
  letter-spacing: 1px;
  text-decoration: none;
  color: #603913;
  font-weight: 700;
  text-transform: uppercase;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #E85E51;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #E85E51;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(181, 118, 64, 0.25);
  padding: 11px 15px;
  width: 170px;
  font-size: .8em;
  text-decoration: none;
  color: #603913;
  font-weight: 400;
  background: #E85E51;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #E85E51;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #E85E51;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
/*homepage links*/


#colhome, #demo_body{
width:90%;
margin:0 auto 0 auto;
margin-top:7%;
background:#ffffff;
height:300px;
height:270px;
}

.block_holder{
width:33.3333333%;
margin:0 auto 0 auto;
margin-top:1.8%;
float:left;
}

::selection {
    background:white;
    color: black;
}
::-moz-selection {
    background: white;
    color: black;
}

.hover_block {
    position: relative;
    overflow: hidden;
	max-width:100%;
	float:left;
	margin-left:2.4em;
	margin-left:12%;
}

.hover_info {
	width: 250px;
	width: 17vw;
    height: 250px;
	height: 32.5vh;
    position: absolute;
    top: 0;
    left: 0;
}
.hover_info h1 { font-size: 16px; font-size: 1em; padding: 10px 20px; padding: 3% 10%; background: #B57640; color: #ffffff; position: absolute; top: 25px; top: 12%; left: -110%; transition: left 200ms linear; -webkit-transition: left 200ms linear; -moz-transition: left 200ms linear; }
/*.hover_info p { font-size: .5em; line-height: .5; color: #fff;position: absolute; top: 85px; left: 5%; width: 60%; text-align: center; opacity: 0; transition: opacity 200ms linear; -webkit-transition: opacity 200ms linear; -moz-transition: opacity 100ms linear; }*/

.hover_info:hover h1 { left: -18px; left: -9%; top:12px; top:5%; transition-delay: 250ms; -webkit-transition-delay: 250ms; -moz-transition-delay: 150ms; }
.hover_info:hover p { opacity: 1; transition-delay: 600ms; -webkit-transition-delay: 600ms; -moz-transition-delay: 600ms; }


.block_9 .circle_in {
    width: 125%;
    height: 165%;
    top: -32.5%;
    left: -12.5%;
    border-radius: 50%; 
    background:rgba(250, 223, 160, 0.6);
    position: absolute;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
}
.block_9:hover .circle_in {
    transform: scale(1);
    -webkit-transform: scale(1);
}

#tweens{
background-color:#EAD8AD;
width:100%;
margin:0 auto 0 auto;
margin-top:10%;

}
#iconboxhome{
display: block;
overflow:hidden;
width:60%;
margin:0 auto;
margin-top:7%;
}

.twitterIcon{
display:block;
text-indent:-1000000px;
background:url("../img/icons/twittericon.png") center no-repeat;
width:100px;
height:100px;
 margin:0 auto;
}
.twitterIcon:hover {
background:url("../img/icons/twittericon_white.png") center no-repeat;
}
.fbIcon{
display:block;
text-indent:-1000000px;
background:url("../img/icons/fbicon.png") center no-repeat;
width:100px;
height:100px;
 margin:0 auto;
}
.fbIcon:hover {
background:url("../img/icons/fbicon_white.png") center no-repeat;
}
.pinIcon{
display:block;
text-indent:-1000000px;
background:url("../img/icons/pinteresticon.png") center no-repeat;
width:100px;
height:100px;
 margin:0 auto;
}
.pinIcon:hover {
background:url("../img/icons/pinteresticon_white.png") center no-repeat;
}
.instaIcon{
display:block;
text-indent:-1000000px;
background:url("../img/icons/instagramicon.png") center no-repeat;
width:100px;
height:100px;
 margin:0 auto;
}
.instaIcon:hover {
background:url("../img/icons/instagramicon_white.png") center no-repeat;
}
	
img.icon{
  max-width: 100%;
}
img.icon:hover{
  max-width: 100%;
  background:#FADFA0;
}
.socialIcon{
float:left;
width:25%;
}
/*#emailIcon, #blogIcon, #fbIcon, #twitterIcon, #pinIcon, #InstaIcon{
width:100px;
height:100px;
float:left;
margin-left:5%;
}
#fbIcon{
margin-left:23.5%;
}*/

#pager { 
    text-align: center; 
	width: 100%; 
	z-index: 500; 
	position: absolute; 
	top: 83%; 
	overflow: hidden;
	display:none;
}
#pager span { 
    font-family: arial; font-size: 50px; font-size: 4vw; width: 16px; width: 1.4vw; height: 16px;  
    display: inline-block; color: #FADFA0; cursor: pointer; 
    text-shadow: #FADFA0 0px 0px 6px;
}
#pager span.cycle-pager-active { color: #ffffff;} 
#pager > * { cursor: pointer;}

#logoimg {
width:50%;
margin: 0 auto;
}
#logoimg h1 {
margin:0;
text-indent: -9999px;
background:url(../img/sweetNothings_logo.png)center no-repeat;
width: 250px;
height: 350px;
margin: 0 auto;
}
#logocaption {
width:100%;
padding-top: 2%;
}
#logocaption h1{
font-family: georgia, sans-serif;
font-size:1.5vw;
font-size:1.4em;
color:#E85E51;
text-align:center;
font-weight: normal;
}

/*#logocaption {
width:100%;
max-width:100%;

}*/

#cycleboxhome{
width:96%;
margin: 0 auto;
margin-top:5%;
max-width:100%;
z-index:1;
}
#imageboxhome img{
padding-top:4px;
padding-left:4px;
padding-right:4px;
}
#imageboxhome{
width:96%;
margin:0 auto;
margin-top:5%;
max-width:100%;
z-index:1;
border:solid 10px #E85E51;
background:#F9E8C0;
}



/*About us*/


#aboutus{
display:block;
width:85%;
margin:0 auto 0 auto;
margin-top:5%;
padding-top:3%;
padding-bottom:8%;
background:rgb(255,255,255);
box-shadow: 3px 3px 6px rgba(96,57,19,.6);
box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-webkit-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-webkit-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-moz-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-moz-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
}


#aboutus h1{
font-family: Georgia; 
font-size: 1.7em;
font-size: 2vw;
padding: 1.2%;
color:#603913;
margin-top:5%;
margin-left:8%;
margin-bottom:5%;

}

#mission{
float:right;
margin:10%;
margin-right:10%;
margin-top:9%;
height:25%;
height:30vw;
width:17%;
width:17vw;
overflow:hidden;
}
#mission img{
height:100%;
width:auto;
}
#content p.missionBody{
font-family: Myriad Pro,Georgia; 
font-size: 15px;
font-size: 1em;
margin-right:5%;
padding:1%;
color:#603913;
margin-left:8%;
line-height:130%
}
/*Servings guide*/


#servings{
display:block;
width:83%;
height:100%;
margin:0 auto 0 auto;
margin-top:5%;
background:rgb(255,255,255);
box-shadow: 3px 3px 6px rgba(96,57,19,.6);
box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-webkit-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-webkit-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-moz-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-moz-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
}

/*Order  guide-2 column grid*/
.row {
  margin-bottom: 20px;
  margin-bottom: 1%;
}
.row .row {
  margin-top: 10px;
   margin-top: .5%;
  margin-bottom: 0;
}
.row:before,
.row:after,{
 display: table;
  content: " ";
}
.row:after{
clear: both;
}
.row {
  margin-left: 180px;
  margin-left: 17%;
  margin-right: -180px;
  margin-right: -17%;
  margin-top: 3em;
  margin-top: 5%;
  padding-bottom:100%;
}
.col-md-4 {
	float:left;
    width: 33.33333333%;
	position: relative;
	 min-height: 1px;
  min-height: .1vw;
  padding-right: 30px;
  padding-right: 3%;
  padding-left:30px;
  padding-left:3%;
  box-shadow: 3px 3px 6px rgba(96,57,19,.6);
  box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-webkit-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-webkit-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-moz-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-moz-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);

 
}

img.flavors {
margin-top:5%;
margin-bottom:5%;
/*border:.2em #333;
border-style:inset;*/
margin-left:5%;

}
.col-md-4 ul.options{
margin-top:5%;
margin-bottom:5%;
/*border:.2em #333;
border-style:inset;*/
margin-left:5%;
}
.col-md-4 ul.options li{
margin-bottom:3%;
font-family: Myriad Pro,Georgia; 
font-size: 19px;
font-size: 1vw;
padding:3.4%;
color:#603913;
line-height:60%

}
.row h2{
	font-size: 19px;
	font-size: 1.8em;
	font-size: 1.32vw;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	color:#603913;
	margin-top: 8%;
	margin-bottom: 10%;
	margin-left:10%;
	}

[class*="col-"] {
  padding-top: 1.2em;
  padding-top: 4%;
  padding-bottom: 1.2em;
  padding-bottom: 4%;
  background:rgb(255,255,255);

}


ul.options li.last{
margin-bottom:-1.2%;
}


/*prices page columns*/
.priceBox{
	margin-left:5%;
	margin-top:1.8%;
	position: relative;
	vertical-align: top;
	

}
.row {
  margin-bottom: 20px;
  margin-bottom: 1%;
}
.rowprice .rowprice {
  margin-top: 10px;
   margin-top: .5%;
  margin-bottom: 0;
}
.rowprice:before,
.rowprice:after,{
 display: table;
  content: " ";
}
.rowprice:after{
clear: both;
}
.rowprice {
margin:0 auto 0 auto;
  margin-top: 3em;
  margin-top: 5%;
 
}
.col-md-2 {
    width: 50%;
	position: relative;
	padding-right: 30px;
  padding-right: 5%;
  padding-left:30px;
  padding-left:3%;
  box-shadow: 3px 3px 6px rgba(96,57,19,.6);
  box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-webkit-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-webkit-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-moz-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-moz-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
 
}

/*FORM STYLES*/



#EventDetails{
	margin-bottom:-5%;
	margin-top:4%;
	margin: 0 auto;
	padding-bottom:7%;
	background-color: #ffffff;
	display: block;
	width: 90%;
	box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-webkit-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-moz-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-webkit-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-moz-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
}
h1.heading {
	font-size: 27px;
	font-size: 2vw;
	font-family:"News Cycle",sans-serif;
	padding-top:6%;
	padding-bottom:4%;
	margin-left:7%;
	color:#603913;
	margin-top:5%;
	/*text-shadow: 4px 5px 3px rgba(122,90,19,0.4);
	text-shadow: .3vw .3vw .3vw rgba(122,90,19,0.4);*/
}
p.event, p.event1 {
	font-family: "News Cycle",sans-serif;
	font-size: 1.1em;
	padding-left: 7%;
	color:#603913;
	margin-bottom: 1.5%;
	margin-top:3%;
}
p.event1 {
	margin-top:1%;

}

h3.contactinfo{
	font-size: 17px;
	font-size: 1.4vw;
	font-family: "News Cycle",sans-serif;
	color:#B57640;
	margin-left:15%;
	padding:.5%;
}

.container{
	margin: 0px auto;
	display: block;
	margin-top: 5%;
	width: 100%;
}
.col-md-8{
	margin-left:15%;
	box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-webkit-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-moz-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-webkit-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-moz-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
}


.controls label {
	font-family: "News Cycle",sans-serif;
	font-size: 1.1em;
	padding-left: 1%;
	color: #603913;
	margin-bottom: 1.5%;
	margin-top: 3%;
}
.btn, .btn-warning{
  margin-top:23px;
  padding: 7px;
  background-color: #E85E51;
  border: 1px solid #ec9d96;
  color:#000;
  text-decoration:none;
  font-family: 'News Cycle', sans-serif;
  font-size:1.3em;
  color:#ffffff;
  margin-left:1%;
}

.btn:hover,.btn-warning:hover{
    color: #FFF;
    background-color: #ec9d96;
	border-color: #ec9d96;
}
.btn-primary.focus, .btn-warning:focus {
    color: #FFF;
    background-color: #B57640;
    border-color: #B57640;
}

.form-control{
	border-color:#ffffff;
	box-shadow: 0.3vw 0.3vw 0.6vw rgba(96, 57, 19, 0.6);
}
.form-control:focus{
	border-color:#603913;
	box-shadow: 0.3vw 0.3vw 0.6vw rgba(96, 57, 19, 0.6);
}
#socialMedia{
	width: 90%;
	margin: 0 auto;
	background:#ffffff;
	box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-webkit-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-moz-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-webkit-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-moz-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
}
.iconbox{
width:100%;
}
.Iconform{
width:100px;
height:100px;
float:left;
}
.Iconform img:hover{
	background-color: #ffffff;
	box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-webkit-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	-moz-box-shadow: 3px 3px 6px rgba(96,57,19,.6);
	box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-webkit-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
	-moz-box-shadow: .3vw .3vw .6vw rgba(96,57,19,.6);
}
	
/*Gallery pages - cycle 2 & Fancybox styles*/

#galleryimgbox{
	width:90%;
	margin:0 auto;
}
#galleryimgbox img{
height:100%;
width:100%;
}
#gallery1{
float:left;
display:inline;
/*height:25%;
height:25vw;*/
width:35%;
margin-top:6%;
}

#gallery2{
float:right;
/*height:25%;
height:25vw;*/
margin-top:6%;
width:65%;
border-left: solid 4px #EAD8AD;
}
#gallery3{
clear:both;
float:left;
/*height:25%;
height:25vw;*/
width:65%;
border-top: solid 4px #EAD8AD;
border-right: solid 4px #EAD8AD;
}
#gallery4{
float:right;
display:inline;
/*height:25%;
height:25vw;*/
width:35%;
border-top: solid 4px #EAD8AD;
}
#gallery5{
clear:both;
float:left;
display:inline;
/*height:25%;
height:25vw;*/
width:33.33%;
border-top: solid 4px #EAD8AD;
border-right: solid 4px #EAD8AD;
}
#gallery6{
float:left;
display:inline;
/*height:25%;
height:25vw;*/
width:33.33%;
border-top: solid 4px #EAD8AD;
border-right: solid 4px #EAD8AD;
}
#gallery7{
float:left;
display:inline;
/*height:25%;
height:25vw;*/
width:33.33%;
border-top: solid 4px #EAD8AD;
}
#gallery8{
float:left;
display:inline;
height:100%;
width:100%;
border-top: solid 4px #EAD8AD;
}
#gallery9{
clear:both;
float:left;
display:inline;
width:35%;
border-top: solid 4px #EAD8AD;
}
#gallery10{
float:right;
width:65%;
border-left: solid 4px #EAD8AD;
border-top: solid 4px #EAD8AD;
}
#gallery11{
clear:both;
float:left;
width:50%;
border-right: solid 2px #EAD8AD;
border-top: solid 4px #EAD8AD;
}
#gallery12{
float:right;
width:50%;
border-left: solid 2px #EAD8AD;
border-top: solid 4px #EAD8AD;
}
#gallery13{
clear:both;
float:left;
width:65%;
border-right: solid 4px #EAD8AD;
border-top: solid 4px #EAD8AD;
}
#gallery14{
float:left;
display:inline;
width:35%;
border-top: solid 4px #EAD8AD;
}
#gallery15{
clear:both;
float:left;
display:inline;
width:50%;
border-right: solid 2px #EAD8AD;
border-top: solid 4px #EAD8AD;
}
#gallery16{
float:left;
display:inline;
width:50%;
border-left: solid 2px #EAD8AD;
border-top: solid 4px #EAD8AD;
}
#fancybox{
	display: block;
	width: 83%;
	margin: 0 auto;
	margin-top:8%;

}

/* Prices page - group Sliding Doors */
#cakeboxes{
padding-bottom:100%;

}
.col-md-5 {
    width: 50%;
	position: relative;
	padding-right: 30px;
  padding-right: 5%;
  padding-left:30px;
  padding-left:3%;
 
}
.col-md-5 {
    float: left;
    background-color: #EAD8AD;
}
#___gcse_0{
	padding: 3%;
}
/**************404 page**************/
#aboutus h1.errorHeader{
	text-align: center;
	font-size:3em;

}
.errorBody{
	text-align: center;
	font-family: Georgia;
	font-size:2em;
	padding: 1.2%;
    color: #603913;
    margin-top: 5%;
}
.errorBody:nth-child(3) {
	font-family: Myriad Pro,Georgia; 
	font-size: 15px;
	font-size: 1.2em;
	padding:1%;
	color:#603913;
	line-height:130%;
	margin-bottom:5%;
	text-align: center;

}
.homeButton p{
	background-color: #E85E51;
	color: #603913;
	text-align: center;
	font-family: Georgia;
	padding: 1%;
}
a{
	text-decoration: none;
}


.priceImg{
	display: block;
	width:100%;
}
.priceBody{

	 background: rgba(181, 118, 64, 0.7);
	 bottom: 0;
	 color: white;
	 font-size: 1em;
	 left: 0;
	 opacity: 0;
	 overflow: hidden;
	 padding: 3% 3%;
	 position: absolute;
	 text-align: center;
	 top: 0;
	 right: 0;
	 -webkit-transition: 0.6s;
	 transition: 0.6s;
}
.priceBody:hover{
	opacity: 1;
}
.priceBody:after,
.priceBody:before{
	border: 1px solid rgba(255, 255, 255, 0.7);
	bottom: 1%;
	content: '';
	left: 1%;
	opacity: 0;
	position: absolute;
	right: 1%;
	top: 1%;
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: 0.6s 0.2s;
	transition: 0.6s 0.2s;
}

.priceBody:before{
	border-bottom: none;
	border-top: none;
	left:2%;
	right:2%;
}
.priceBody:after{
	border-left: none;
	border-right: none;
	bottom: 2%;
	top: 2%;
}
.priceBody:hover:after,
.priceBody:hover:before{
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.priceBody h2{
	margin-top:5%;
	padding-bottom:10%;
	text-align:center;
	font-size:35px;
	font-size:3vw;
}
.priceBody h3{
	margin-top:5%;
	text-align:center;
}
.priceBody p{
margin-bottom:3%;
text-align:center;
padding-bottom:3%;
}
.priceBody p.special{
margin-bottom:3%;
text-align:center;
padding-bottom:7%;
}

footer {
    padding:3%;
	font-size:1.5em;
	width:40%;
	margin: 0 auto;
}
footer p, footer a, .footer-info, .footer-muted{
display:block;
	text-align: center;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	color: #E85E51;
	padding-bottom:10px;
	}
footer p{
	font-size:1.3vw; 
	font-size:.8em;
	}
footer a{
	font-size:1vw; 
	font-size:.7em;
	text-decoration: none;
}
hr.small{
border-top: 1px solid #EAD8AD;
}
#pricesList{
display:none;
}
/**************404 page**************/
#aboutus h1.errorHeader{
	text-align: center;
	font-size:3em;

}
.errorBody{
	text-align: center;
	font-family: Georgia;
	font-size:2em;
	padding: 1.2%;
    color: #603913;
    margin-top: 5%;
}
.errorBody:nth-child(3) {
	font-family: Myriad Pro,Georgia; 
	font-size: 15px;
	font-size: 1.2em;
	padding:1%;
	color:#603913;
	line-height:130%;
	margin-bottom:5%;
	text-align: center;

}
.homeButton p{
	background-color: #E85E51;
	color: #603913;
	text-align: center;
	font-family: Georgia;
	padding: 1%;
}
a{
	text-decoration: none;
}
