@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900);
@import url(http://fonts.googleapis.com/css?family=News+Cycle);

/* Global Styles */

html,
body {
    height: 100%;
	background-color:#DEDAD2;
	color:#333;
}


#logoBox{
	width: 100%;
	height: 99px;
	background: #A6997D;
}
h3.subHeader{
	color: #977032;
	font-family: 'News Cycle', sans-serif;
	font-size:1.3em;
	padding-left:1%;
}
h1.header{
	color: #DEDAD2;
	font-family: 'Merriweather', serif;
	font-size:1.6em;
	padding-left:1%;
}
#emailArticleHeader{
background:#735C3C;
padding:.5%;
}

/*FORM STYLES*/


form{
margin-top:2%;
}
label {
	text-align: left;
	width: 150px;
	display:block;
	margin-bottom:7px;
	font-family: 'News Cycle', sans-serif;
	font-size:1.3em;
	color:#493829;
}
textarea:focus, input:focus {
	border: 2px solid #900;
}
input   {
width:375px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
textarea{
width:375px;
display:block;
border: 1px solid #999;
height: 150px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.control-group, .form-group{
margin-top:1%;
margin-left:1%;
}
button.btn{
margin-top:23px;
  padding:5px;
  background-color: #D3CDBF;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
  font-family: 'News Cycle', sans-serif;
  font-size:1.3em;
  color:#493829;
  margin-left:1%;
}
/* Responsive Styles */
